*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}




.welcome_block{
    height: 100vh;
    width: 100vw;
    background-image: url('./media/giphy.gif');
    background-size: cover;
    pointer-events: none;
    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}

body {
    font-family: 'Sixtyfour', sans-serif;
    color: #fff;
}

.title{
    font-size: 4.2vw;
    text-transform: uppercase;
}

.text{
    font-size: 2.2vw;
    font-weight: 400;
}

.name {
    font-weight: 400;
    padding-top: 1.9vw;
    font-size: 1.55vw;
    color: red;
}

.info{
    padding-left: 6.5vw;
    width: 70vw;
}

.one-block{
    display: flex;
}

.contacts{
    position: absolute;
    top: 30%;
    right: 2vw;
}

ul{
    transition: all 3s ease;
}

li{
    list-style-type: none;
    margin-bottom: 3vh;
}

li:hover{
    opacity: 0.8;
}

a{
    pointer-events: all;
}

.content{
  width: 100%;
  height: 100%;
}

.blog{
  transition: all 3s ease;
}
.blog a{
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 1;

  display: flex;
  align-items: center;

  text-decoration: none;
  color: #fff;
}

.blog a:hover{
    opacity: 0.8;
}

.blog__text{
  margin-right: 30px;
  
}

@media (max-width: 1024px) {
    .welcome_block{
      flex-direction: row;
      align-items: center;
    }

    .info{
      width: 90vw;
    }

    .title{
      font-size: 6.2vw;
    }
    
    .text{
        font-size: 3vw;
        font-weight: 400;
    }
    
    .name {
        font-size: 2.5vw;
    }

    .contacts{
      height: 10vh;
      position: absolute;
      bottom: 0;
    }

    .contacts {
      position: fixed;
      top:auto;
      bottom: 1vh;
      left: 50%;
      transform: translateX(-50%);
    }

    ul{
      
      display: flex;

      li{
        margin-right: 4vw; 
      }
    }

    svg{
      width: 6vw;
      height: 6vh;
    }
}

@media (max-width: 425px) {
    .title{
      font-size: 10.2vw;
    }
    
    .text{
         margin-top: 1.2vh;
        font-size: 5.3vw;
        font-weight: 400;
    }

    .one-block{
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
    }
    
    .name {
        margin-left: 16px;
        font-size: 6vw;
    }

    svg{
      width: 10vw;
      height: 10vh;
    }

    .contacts {
      left: 42%;
    }
}

@media (max-width: 375px) {
  .contacts {
    position: fixed;

    bottom: 6vh;
    left: 42%;
    transform: translateX(-50%);
  }

  li{
    margin-right: 12vw; 
  }
}